In [2]:
import pandas as pd

In [4]:
destinations = pd.read_csv('destinations_small.csv')
#destinations = pd.read_csv('destinations_small.csv', sep='\t', iterator=True, chunksize=1000)
#destinations = pd.concat(destinations, ignore_index=True)
destinations.shape

(39999, 150)

In [5]:
test = pd.read_csv('test_small.csv')
#test = pd.read_csv('test.csv', sep='\t', iterator=True, chunksize=1000)
#test = pd.concat(test, ignore_index=True)
test.shape

(39999, 22)

In [6]:
train = pd.read_csv('train_small.csv')
#train = pd.read_csv('train.csv', sep='\t', iterator=True, chunksize=10)
#train = pd.concat(train, ignore_index=True)
train.shape

(39999, 24)

# Exploring data

In [8]:
test.head(5)

,id,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,...,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country,hotel_market
0,0,2015-09-03 17:09:54,2,3,66,174,37449,5539.0567,1,1,...,2016-05-19,2016-05-23,2,0,1,12243,6,6,204,27
1,1,2015-09-24 17:38:35,2,3,66,174,37449,5873.2923,1,1,...,2016-05-12,2016-05-15,2,0,1,14474,7,6,204,1540
2,2,2015-06-07 15:53:02,2,3,66,142,17440,3975.9776,20,0,...,2015-07-26,2015-07-27,4,0,1,11353,1,2,50,699
3,3,2015-09-14 14:49:10,2,3,66,258,34156,1508.5975,28,0,...,2015-09-14,2015-09-16,2,0,1,8250,1,2,50,628
4,4,2015-07-17 09:32:04,2,3,66,467,36345,66.7913,50,0,...,2015-07-22,2015-07-23,2,0,1,11812,1,2,50,538

In [9]:
train.head(5)

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,2014-08-11 07:46:59,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,0,3,2,50,628,1
1,2014-08-11 08:22:12,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,1,1,2,50,628,1
2,2014-08-11 08:24:33,2,3,66,348,48862,2234.2641,12,0,0,...,0,1,8250,1,0,1,2,50,628,1
3,2014-08-09 18:05:16,2,3,66,442,35390,913.1932,93,0,0,...,0,1,14984,1,0,1,2,50,1457,80
4,2014-08-09 18:08:18,2,3,66,442,35390,913.6259,93,0,0,...,0,1,14984,1,0,1,2,50,1457,21

In [10]:
train["hotel_cluster"].value_counts()

91    1135
41     925
64     834
48     809
65     698
42     653
70     648
5      597
25     595
97     590
83     577
37     553
18     551
21     545
72     544
95     543
98     541
30     540
46     523
59     523
16     520
58     515
10     508
28     505
82     494
50     490
9      487
68     486
8      484
62     482
      ...
15     302
7      301
89     299
44     298
86     295
12     291
66     282
31     271
19     271
43     269
63     269
79     267
14     267
32     258
23     251
45     250
3      247
80     244
49     239
71     237
87     219
60     217
93     214
24     180
75     167
35     164
53     153
88     113
27      76
74      39
Name: hotel_cluster, dtype: int64

In [11]:
# put dates into workable form
train["date_time"] = pd.to_datetime(train["date_time"])
train["year"] = train["date_time"].dt.year
train["month"] = train["date_time"].dt.month

In [16]:
# data is too large, get only 1,000 from training set
import random
# get a list of unique user's id
unique_users = train.user_id.unique()
# get asorted list of id's from a random samples of 1,000 users
sel_user_ids = [unique_users[i] for i in sorted(random.sample(range(len(unique_users)), 1000))]
# get only those samples which correspond to the selected users' id
sel_train = train[train.user_id.isin(sel_user_ids)]

In [17]:
# create new training and testing sets based on dates
t1 = sel_train[((sel_train.year == 2013) | ((sel_train.year == 2014) & (sel_train.month < 8)))]
t2 = sel_train[((sel_train.year == 2014) & (sel_train.month >= 8))]

In [18]:
# since the original testing set contained only True bookings we get also just True bookings for t2
t2 = t2[t2.is_booking == True]

In [23]:
# get the index of the 5 most common clusters
most_common_clusters = list(train.hotel_cluster.value_counts().head().index)

In [24]:
# create a list with the same predictions for now
predictions = [most_common_clusters for i in range(t2.shape[0])]

In [25]:
# evaluate this predictions using the Mean Average Precision as specified in the competition details
import ml_metrics as metrics
target = [[l] for l in t2["hotel_cluster"]]
metrics.mapk(target, predictions, k=5)

0.048162071846282378

In [26]:
# looking for correlations we can see no feature is linearly correlated with hotel_cluster
# that menas that neither linear regression nor logistic regression will work
train.corr()["hotel_cluster"]

site_name                   -0.011033
posa_continent              -0.000361
user_location_country       -0.023185
user_location_region         0.021107
user_location_city          -0.008268
orig_destination_distance    0.029199
user_id                      0.000805
is_mobile                   -0.004312
is_package                   0.050235
channel                     -0.020781
srch_adults_cnt              0.013366
srch_children_cnt            0.016455
srch_rm_cnt                 -0.001257
srch_destination_id         -0.009925
srch_destination_type_id    -0.040333
is_booking                  -0.021406
cnt                          0.002020
hotel_continent             -0.000384
hotel_country               -0.006258
hotel_market                 0.027324
hotel_cluster                1.000000
year                         0.016936
month                        0.007033
Name: hotel_cluster, dtype: float64

In [27]:
# difficult for ML because millions of rows, lots of different clusters (100), fuzzy boundaries and no linear correlations
# we first need to reduce dimensionality 
from sklearn.decomposition import PCA
# turn 149 columns into only 3
pca = PCA(n_components=3)
# get all columns (for-loop) and fit into pca
dest_small = pca.fit_transform(destinations[["d{0}".format(i + 1) for i in range(149)]])
# make a DataFrame out of the result list
dest_small = pd.DataFrame(dest_small)
# get only the id's from the destinations data frame 
dest_small["srch_destination_id"] = destinations["srch_destination_id"]

In [32]:
# create length of stay, check in day, and check out month features to be used in a ML algorithm
def calc_fast_features(df):
    # modify date features
    df["date_time"] = pd.to_datetime(df["date_time"])
    df["srch_ci"] = pd.to_datetime(df["srch_ci"], format='%Y-%m-%d', errors="coerce")
    df["srch_co"] = pd.to_datetime(df["srch_co"], format='%Y-%m-%d', errors="coerce")
    
    # acceses prop features of each date rows
    props = {}
    for prop in ["month", "day", "hour", "minute", "dayofweek", "quarter"]:
        props[prop] = getattr(df["date_time"].dt, prop)
    # get numeric features into props[]
    carryover = [p for p in df.columns if p not in ["date_time", "srch_ci", "srch_co"]]
    for prop in carryover:
        props[prop] = df[prop]
    # get date_props attributes into props[]
    date_props = ["month", "day", "dayofweek", "quarter"]
    for prop in date_props:
        props["ci_{0}".format(prop)] = getattr(df["srch_ci"].dt, prop)
        props["co_{0}".format(prop)] = getattr(df["srch_co"].dt, prop)
    props["stay_span"] = (df["srch_co"] - df["srch_ci"]).astype('timedelta64[h]')
    
    ret = pd.DataFrame(props)
    # get dset_small into ret
    ret = ret.join(dest_small, on="srch_destination_id", how='left', rsuffix="dest")
    ret = ret.drop("srch_destination_iddest", axis=1)
    return ret

df = calc_fast_features(t1)
df.fillna(-1, inplace=True)

/home/jose/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/jose/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/jose/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [33]:
# get columns except the target
predictors = [c for c in df.columns if c not in ["hotel_cluster"]]
from sklearn import cross_validation
from sklearn.ensemble import RandomForestClassifier
# use random forest
clf = RandomForestClassifier(n_estimators=10, min_weight_fraction_leaf=0.1)
scores = cross_validation.cross_val_score(clf, df[predictors], df['hotel_cluster'], cv=3)
# very low score but expected due to large number of clusters (classes)
scores

/home/jose/.local/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

array([ 0.06779661,  0.06378166,  0.06681818])