In [258]:
import pandas as pd
import numpy as np
import pickle

In [259]:
df = pd.read_csv('validation_set.csv')
df_original = pd.read_csv('validation_values.csv')

In [260]:
df.columns

Index(['Unnamed: 0', 'maker', 'specific_origin', 'ref', 'review_date',
       'cocoa_percent', 'company_location', 'rating', 'bean_type',
       'broad_origin'],
      dtype='object')

In [261]:
df_original.drop(['rating'], axis=1, inplace=True)
df.drop(['Unnamed: 0', 'rating'], axis=1, inplace=True)
df['ratio'] = df['ref'] / df['cocoa_percent'] 
df_original['ratio'] = df_original['ref'] / df_original['cocoa_percent']

In [262]:
model = pickle.load(open('xgbr.pickle', 'rb'))
test_features = ['amadei', 'chuao', '2007', '70.0', 'italy', 'trinitario', ]

In [263]:
#df = df[df['review_date'] == 2011]

In [272]:
predictions = model.predict(df)
np.sort(predictions)[::-1]

array([ 3.90130162,  3.72406626,  3.69689131,  3.67281914,  3.66163492,
        3.65678811,  3.64586806,  3.62601089,  3.60837889,  3.60123038,
        3.58540392,  3.57511926,  3.56407499,  3.55838728,  3.54878831,
        3.5244298 ,  3.52052116,  3.51536465,  3.51398802,  3.5057261 ,
        3.50361586,  3.49693513,  3.47685504,  3.44560909,  3.43469214,
        3.42772961,  3.42634869,  3.42028737,  3.40663958,  3.40104175,
        3.39413023,  3.38448834,  3.38413906,  3.38025618,  3.37361312,
        3.3714242 ,  3.37140536,  3.36598015,  3.3394382 ,  3.3370173 ,
        3.33608961,  3.32836771,  3.3266468 ,  3.32505798,  3.31745148,
        3.31467414,  3.3135705 ,  3.3045814 ,  3.30043292,  3.28826332,
        3.26609015,  3.26530623,  3.26430368,  3.25471044,  3.23917484,
        3.23660183,  3.22773838,  3.20032477,  3.19427729,  3.19418383,
        3.19084048,  3.18461299,  3.14728665,  3.12985873,  3.11096668,
        3.10897112,  3.09669256,  3.09310937,  3.08594251,  3.0854826 ,
        3.07037616,  3.06302643,  3.04659724,  3.03650236,  3.01863122,
        2.9931252 ,  2.98920703,  2.97440672,  2.97053123,  2.96049857,
        2.95715213,  2.95430446,  2.92797136,  2.91173053,  2.90851235,
        2.89212584,  2.85337377,  2.84345913,  2.84011078,  2.82661819,
        2.82325983,  2.81897712,  2.73060036,  2.72793722,  2.72012711,
        2.71261287,  2.67298174,  2.67205429,  2.50296474,  2.49548531], dtype=float32)

In [273]:
sorted_indexes = np.argsort(predictions)[::-1]

In [277]:
prediction_results = df_original.iloc[sorted_indexes, :][:10]
prediction_results

,Unnamed: 0,maker,specific_origin,ref,review_date,cocoa_percent,company_location,bean_type,broad_origin,ratio
76,1539,soma,eastern promises,967,2012,70.0,canada,blend,"mad., java, png",13.814286
72,183,beschle (felchlin),madagascar,636,2011,64.0,switzerland,trinitario,madagascar,9.937500
10,509,dar,"duo, batch 002",1920,2016,70.0,u.s.a.,unknown,"ecuador, costa rica",27.428571
67,1556,soul,dominican republic,1932,2017,70.0,canada,unknown,dominican,27.600000
11,309,cacao sampaka,madagascar,508,2010,71.0,spain,trinitario,madagascar,7.154930
78,313,cacao sampaka,venezuela,537,2010,71.0,spain,unknown,venezuela,7.563380
23,185,beschle (felchlin),"indigena amazonia, grand cru, quizas",636,2011,72.0,switzerland,unknown,venezuela,8.833333
70,434,claudio corallo,terreiro velho p.,470,2010,73.5,sao tome,forastero,sao tome & principe,6.394558
56,1501,solstice,bundibugyo,1335,2014,70.0,u.s.a.,"forastero, trinitario",uganda,19.071429
71,868,indaphoria,"conacado, manifesto",907,2012,70.0,u.s.a.,unknown,dominican,12.957143

In [278]:
prediction_results.drop('Unnamed: 0', axis=1, inplace=True)

In [279]:
prediction_results.describe(include='all')

,maker,specific_origin,ref,review_date,cocoa_percent,company_location,bean_type,broad_origin,ratio
count,10,10,10.000000,10.000000,10.000000,10,10,10,10.000000
unique,8,9,NaN,NaN,NaN,5,5,7,NaN
top,cacao sampaka,madagascar,NaN,NaN,NaN,u.s.a.,unknown,madagascar,NaN
freq,2,2,NaN,NaN,NaN,3,5,2,NaN
mean,NaN,NaN,984.800000,2012.300000,70.150000,NaN,NaN,NaN,14.075513
std,NaN,NaN,561.446703,2.540779,2.450057,NaN,NaN,NaN,8.037392
min,NaN,NaN,470.000000,2010.000000,64.000000,NaN,NaN,NaN,6.394558
25%,NaN,NaN,561.750000,2010.250000,70.000000,NaN,NaN,NaN,7.880869
50%,NaN,NaN,771.500000,2011.500000,70.000000,NaN,NaN,NaN,11.447321
75%,NaN,NaN,1243.000000,2013.500000,71.000000,NaN,NaN,NaN,17.757143
max,NaN,NaN,1932.000000,2017.000000,73.500000,NaN,NaN,NaN,27.600000

In [281]:
# de acuerdo al algoritmo de aprendizaje estas son las caracteristicas mas importantes
prediction_results.iloc[:, [0,1,2,4,7,8]]

,maker,specific_origin,ref,cocoa_percent,broad_origin,ratio
76,soma,eastern promises,967,70.0,"mad., java, png",13.814286
72,beschle (felchlin),madagascar,636,64.0,madagascar,9.937500
10,dar,"duo, batch 002",1920,70.0,"ecuador, costa rica",27.428571
67,soul,dominican republic,1932,70.0,dominican,27.600000
11,cacao sampaka,madagascar,508,71.0,madagascar,7.154930
78,cacao sampaka,venezuela,537,71.0,venezuela,7.563380
23,beschle (felchlin),"indigena amazonia, grand cru, quizas",636,72.0,venezuela,8.833333
70,claudio corallo,terreiro velho p.,470,73.5,sao tome & principe,6.394558
56,solstice,bundibugyo,1335,70.0,uganda,19.071429
71,indaphoria,"conacado, manifesto",907,70.0,dominican,12.957143