In [35]:
# under investigation

import numpy as np
import pandas as pd
from sklearn.datasets import load_diabetes
'''
# from StackOverflow to load the iris dataset

# save load_iris() sklearn dataset to iris
# if you'd like to check dataset type use: type(load_iris())
# if you'd like to view list of attributes use: dir(load_iris())
X = load_diabetes()

# np.c_ is the numpy concatenate function
# which is used to concat iris['data'] and iris['target'] arrays 
# for pandas column argument: concat iris['feature_names'] list
# and string list (in this case one string); you can make this anything you'd like..  
# the original dataset would probably call this ['Species']
data1 = pd.DataFrame(data= np.c_[X['data'], X['target']],
                     columns= X['feature_names'] + ['target'])
data1.head(5)
'''
dir(load_iris())

['DESCR', 'data', 'feature_names', 'target', 'target_names']

In [36]:
df = pd.read_csv(r'http://archive.ics.uci.edu/ml/machine-learning-databases/pima-indians-diabetes/pima-indians-diabetes.data', header=None)
df.head(5)

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1